

    $font-family-pattern: 'Inter', sans-serif;
    
    
    $font-weight-primary-title: 900;
    $font-primary-title-size: 40px;

    $font-weight-second-title: 900;
    $font-second-title-size: 24px;

    $font-weight-thred-title: 600;
    $font-thred-title-size: 16px;

    $font-four-title-size: 18px;

    $font-weight-text:400;
    $font-text-size: 14px;

