    
    
    $font-family-pattern: 'Inter', sans-serif;;
    $color-elipse: #D2D2D2;

// Theme light
    $primary-color-light: #5D66D7;
    $second-color-light: #4E4E53;
    $three-color-light: #7C7C7C;

    $primary-background-color-light: #FFFFFF;
    $second-background-color-light: #F3F3F3;

// Theme dark
    $primary-color-dark: #5D66D7;
    $second-color-dark: #C3C3C3;
    $three-color-dark: #C3C3C3;

    $primary-background-color-dark: #212121;
    $second-background-color-dark: #252525;
    $three-background-color-dark: #4e4e4e;

