@import '../../sass/font.scss';
@import '../../sass/theme.scss';

.container-light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    background-color: $primary-background-color-light;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.nav-light {
    display: flex;
    background-color: $primary-background-color-light;
    
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
    }    
    a {
        text-decoration: none;
        font-size: $font-text-size;
        font-weight: $font-weight-thred-title;
        font-family: $font-family-pattern;
        color: $primary-color-light;
    } 
}

.button-toggle-light {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-background-color-light;
    margin-top: 25px;

    p {
        font-family: $font-family-pattern;
        font-size: 13px;
        font-weight: $font-weight-text;
        margin-bottom: 8px;
        margin-top: 3px;
    }
}

//---DARK---

.container-dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    background-color: $primary-background-color-dark;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}
.nav-dark {
    display: flex;
    background-color: $primary-background-color-dark;
    
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
    }
    a {
        text-decoration: none;
        font-size: $font-text-size;
        font-weight: $font-weight-thred-title;
        font-family: $font-family-pattern;
        color: $primary-color-dark;
    }    
}

.button-toggle-dark {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-background-color-dark;
    margin-top: 25px;

    p {
        font-family: $font-family-pattern;
        font-size: 13px;
        font-weight: $font-weight-text;
        color: $primary-background-color-light;
        margin-bottom: 8px;
        margin-top: 3px;
    }
}


@media(max-width: 900px) {
    .menu-light {
        width: 900px;
    }
    .list {
        justify-content: end;
        width: 55%;
        li {
            width: 80px;
        }
        a {
            font-size: 14px;
        }
    }
    .button-toggle-light {
        width: 25%;
    }   
//--- DARK ---
    .menu-dark {
        width: 900px;
    }
    .list {
        justify-content: end;
        width: 55%;
        li {
            width: 80px;
        }
        a {
            font-size: 14px;
        }
    }
    .button-toggle-dark {
        width: 25%;
    }     
}

@media(max-width: 600px) {
    .menu-light {
        width: 600px;
    }
    .list {
        justify-content: end;
        width: 60%;
        li {
            width: 70px;
        }
        a {
            font-size: 12px;
        }  
    }
    .button-toggle-light {
        width: 20%;
    }
//---DARK ---
    .menu-dark {
        width: 600px;
    }
    .list {
        justify-content: end;
        width: 60%;
        li {
            width: 70px;
        }
        a {
            font-size: 12px;
        }  
    }
    .button-toggle-dark {
        width: 20%;
    }
}

@media(max-width: 425px) {
    .menu-light {
        width: 425px;
        border-bottom: solid 1px $primary-color-light;
    }
    .list {
        justify-content: start;
        padding-left: 10px;
        width: 50%;
        li {
            justify-content: start;
            width: 70px;
            height: 25px ;
        }
        a {
            font-size: 13px;
        } 
        .nav-light {
            flex-direction: column;
        } 
    }
    .button-toggle-light {
        width: 20%;
    }  
//---DARK ---
    .menu-dark {
        width: 425px;
        border-bottom: solid 1px $primary-color-dark;
    }
    .list {
        justify-content: start;
        padding-left: 10px;
        width: 50%;
        li {
            justify-content: start;
            width: 70px;
            height: 25px ;
        }
        a {
            font-size: 13px;
        } 
        .nav-dark {
            flex-direction: column;
        } 
    }
    .button-toggle-dark {
        width: 20%;
    } 
}

