@import '../../sass/theme.scss';

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.floatingButton {
    display: flex;
    height: 0px;
    max-width: 1200px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 50px;
    position: sticky;
    top: 98%;
    left: 98%;

    z-index: 10;
}

@media(max-width: 420px) {
    .floatingButton {
        display: flex;
        height: 0px;
        width: 300px;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 10px;
        position: sticky;
        top: 98%;
        left: 98%;
    
        z-index: 10;
    }
}
@media(max-width: 300px) {
    .floatingButton {
        display: flex;
        height: 0px;
        width: 300px;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 10px;
        position: sticky;
        top: 98%;
        left: 98%;
    
        z-index: 10;
    }
}