@import '../../sass/font.scss';
@import '../../sass/theme.scss';

.container-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 700px;
    background-color: $second-background-color-light;
}

.div-about-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.title-light {
    font-size: $font-second-title-size;
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    color: $primary-color-light;
    margin-top: 5px;
}
.subtitle-light {
    font-size: $font-text-size;
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    color: $second-color-light;
    width: 500px;
    text-align: center; 
    margin-top: 5px;
}

.div-icone-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
}

.icones-row-1-light {
    display: flex;
    width: 600px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

.icones-row-2-light {
    display: flex;
    width: 600px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
}

.icone-1-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-2-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-3-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-4-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-light {
    font-family: $font-family-pattern;
    font-size: $font-text-size;
    font-weight: $font-weight-text;
    color: $second-color-light;
    padding: 4px;
}
//--- DARK ---
.container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 870px;
    background-color: $second-background-color-dark;
}

.div-about-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-dark {
    font-size: $font-second-title-size;
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    color: $primary-color-dark;
    margin-top: 5px;
}

.subtitle-dark {
    font-size: $font-text-size;
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    color: $second-color-dark;
    width: 500px;
    text-align: center; 
    margin-top: 5px;
}

.div-icone-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 80px;
}

.icones-row-1-dark {
    display: flex;
    width: 600px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

.icones-row-2-dark {
    display: flex;
    width: 600px;
    height: 140px;
    align-items: center;
    justify-content: space-around;
}

.icone-1-dark {
    display: flex;
    align-items: center;
    justify-content: center;

}

.icone-2-dark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-3-dark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-4-dark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-dark {
    font-family: $font-family-pattern;
    font-size: $font-text-size;
    font-weight: $font-weight-text;
    color: $second-color-dark;
    padding: 4px;
}

@media (max-width:600px) {
    .container-light {
        width: 600px;
    }  
    .subtitle-light {
        width: 390px;
    }
    .icones-row-1-light {
        justify-content: center;
        gap: 20px;
        width: 390;
        margin-left: 20px;
    }
    .icones-row-2-light {
        justify-content: center;
        gap: 20px;
        width: 390;
    }
    .div-logo {
        width: 70px;
        height: auto;
        margin-right: 0px;
    }
//--- DARK --- 
    .container-dark {
        width: 600px;
    }  
    .subtitle-dark {
        width: 390px;
    }
    .icones-row-1-dark {
        justify-content: center;
        gap: 20px;
        width: 390;
        margin-left: 20px;
    }
    .icones-row-2-dark {
        justify-content: center;
        gap: 20px;
        width: 390;
    }
}

@media (max-width:425px) {
    .container-light {
        width: 425px;
    } 
    .subtitle-light {
        width: 320px;
    }
    .icones-row-1-light {
        width: auto;
        justify-content: center;
    }
    .icones-row-2-light {
        width: auto;
        justify-content: center;
    }
    .list-light {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
    }
    .icone-1-light {
        ul {
            margin-left: -20px;
        }
    }
    .icone-2-light {
        ul {
            margin-left: -20px;
        }
    }
    .icone-3-light {
        ul {
            margin-left: -20px;
        }
    }
    .icone-4-light {
        ul {
            margin-left: -20px;
        }
    }
//--- DARK --- 
    .container-dark {
        width: 425px;
    } 
    .subtitle-dark {
        width: 320px;
    }
    .icones-row-1-dark {
        width: auto;
        justify-content: center;
    }
    .icones-row-2-dark {
        width: auto;
        justify-content: center;
    }
    .list-dark {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
    }
    .icone-1-dark {
        ul {
            margin-left: -20px;
        }
    }
    .icone-2-dark {
        ul {
            margin-left: -20px;
        }
    }
    .icone-3-dark {
        ul {
            margin-left: -20px;
        }
    }
    .icone-4-dark {
        ul {
            margin-left: -20px;
        }
    }
}

@media (max-width:300px) {
    .container-light {
        width: 300px;
    } 
    .subtitle-light {
        width: 240px;
    }
    .icones-row-1-light {
        width: auto;
        justify-content: center;
    }
    .icones-row-2-light {
        width: auto;
        justify-content: center;
    }
    .div-icone-light {
        gap: 50px;
        margin-right: 10px;
    }
    .icone-1-light {
        flex-direction: column;
    }
    .icone-2-light {
        flex-direction: column;
    }
    .icone-3-light {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .icone-4-light {
        flex-direction: column;
    }
//--- DARK ---
    .container-dark {
        width: 300px;
    } 
    .subtitle-dark {
        width: 240px;
    }
    .icones-row-1-dark {
        width: auto;
        justify-content: center;
    }
    .icones-row-2-dark {
        width: auto;
        justify-content: center;
    }
    .div-icone-dark {
        gap: 50px;
        margin-right: 10px;
    }
    .icone-1-dark {
        flex-direction: column;
    }
    .icone-2-dark {
        flex-direction: column;
    }
    .icone-3-dark {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .icone-4-dark {
        flex-direction: column;
    }
}
