@import '../../sass/font.scss';
@import '../../sass/theme.scss';


.container-light {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    background-color: $primary-background-color-light;
}

.container-div-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-bottom: 115px;
    margin-top: 115px;
}

.div-skill-title-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title-light {
    font-family: $font-family-pattern;
    font-size: $font-second-title-size;
    font-weight: $font-weight-second-title;
    color: $primary-color-light;
    margin-top: 5px;
}

.subtitle-light {
    font-size: $font-text-size;
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    color: $second-color-light;
    width: 500px;
    text-align: center; 
    margin-top: 5px;
}

.div-skill-person {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}

.div-skill-person-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.div-image {
        position: absolute;
        img {
            width: 260px;
        }
}

.slipse-light {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    margin-top: -50px;
    background-color: $primary-color-light
}

.div-skill-person-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.div-text-light {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tech-title {
    font-family: $font-family-pattern;
    font-size: 18px;
    font-weight: $font-weight-second-title;
    color: $primary-color-light;
    margin-bottom: 10px;
}

.first-div-logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.second-div-logo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .icone:nth-child(5) {
        margin-left: -10px;
    }
}

.icone {
    width: auto;
    height: 55px;
    margin: 1px;
}

//--- DARK ---

.container-dark {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    background-color: $primary-background-color-dark;
}

.container-div-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-bottom: 115px;
    margin-top: 115px;
}

.div-skill-title-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-dark {
    font-family: $font-family-pattern;
    font-size: $font-second-title-size;
    font-weight: $font-weight-second-title;
    color: $primary-color-dark;
    margin-top: 5px;
}

.subtitle-dark {
    font-size: $font-text-size;
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    color: $second-color-dark;
    width: 500px;
    text-align: center; 
    margin-top: 5px;
}

.div-skill-person {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}

.div-skill-person-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.div-image {
        position: absolute;
        img {
            width: 260px;
        }
}

.slipse-dark {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    margin-top: -50px;
    background-color: $primary-color-dark
}

.div-skill-person-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.div-text-dark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tech-title {
    font-family: $font-family-pattern;
    font-size: 18px;
    font-weight: $font-weight-second-title;
    color: $primary-color-dark;
    margin-bottom: 10px;
}

.first-div-logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.second-div-logo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .icone:nth-child(5) {
        margin-left: -10px;
    }
}

.icone {
    width: auto;
    height: 55px;
    margin: 1px;
}


@media (max-width:900px) {
    .container-div-light {
        width: 900px;
    }
    .subtitle-light {
        width: 500px;
    }
    .div-skill-person-img {
        margin-right: 30px;
    }
    .div-image {
            img {
                width: 200px;
            }
    }
    .slipse-light {
        width: 200px;
        height: 200px;
    }
    .div-skill-person-logo {
        padding: 20px;
    }
//---DARK---
    .container-div-dark {
        width: 900px;
    }
    .subtitle-dark {
        width: 500px;
    }
    .div-skill-person-img {
        margin-right: 30px;
    }
    .div-image {
            img {
                width: 200px;
            }
    }
    .slipse-dark {
        width: 200px;
        height: 200px;
    }
    .div-skill-person-logo {
        padding: 20px;
    }
}

@media (max-width:768px) {
    .container-div-light {
        width: 768px;
    }
    .subtitle-light {
        width: 320px;
    }
    .div-skill-person {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 100px;
    }
    .div-skill-person-img {
        margin-bottom: 110px;
    }
    .div-text-light {
        align-items: center;
    }
//---DARK---
    .container-div-dark {
        width: 768px;
    }
    .subtitle-dark {
        width: 320px;
    }
    .div-skill-person {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 100px;
    }
    .div-skill-person-img {
        margin-bottom: 110px;
    }
    .div-text-dark {
        align-items: center;
    }
}

@media (max-width:425px) {
    .container-div-light {
        width: 425px;
    }
    .subtitle-light {
        width: 320px;
    }
    .div-skill-person-img {
        display: none;
    }
    .div-text-dark {
        align-items: center;
    }
//---DARK ---
    .container-div-dark {
        width: 425px;
    }
    .subtitle-dark {
        width: 320px;
    }
    .div-skill-person-img {
        display: none;
    }
    .div-text-dark {
        align-items: center;
    }
}

@media (max-width:300px) {
    .container-div-light {
        width: 300px;
    }
    .subtitle-light {
        width: 240px;
    }
    .div-skill-person-img {
        display: none;
    }
    .first-div-logo {
        gap: 4px;
    }
    .second-div-logo {
        gap: 4px;

        .icone:nth-child(5) {
            margin-left: -4px;
        }
    }
    .icone {
        height: 25px;
    }
//---DARK---
    .container-div-dark {
        width: 300px;
    }
    .subtitle-dark {
        width: 240px;
    }
    .div-skill-person-img {
        display: none;
    }
    .first-div-logo {
        gap: 4px;
    }
    .second-div-logo {
        gap: 4px;

        .icone:nth-child(5) {
            margin-left: -4px;
        }
    }
    .icone {
        height: 25px;
    }
}
