@import '../../sass/font.scss';
@import '../../sass/theme.scss';

.containerlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 670px;
    background-color: $primary-background-color-light;
}

.divlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $primary-background-color-light;
}

.divTextlight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}

.titlelight {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $second-color-light;

    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $primary-color-light;

    margin-top: 10px;
    margin-bottom: 1px;
}

.subtitlelight {
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    font-size: $font-text-size;
    color: $second-color-light;

    margin-top: 10px;

}

.divButton {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px  ;
    width: 75%;
}

.buttonForContact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 36px;

    border-radius: 4px;
    border-style: none;
    background-color: $primary-color-light;
    color: $primary-background-color-light;

    p {
        color: $primary-background-color-light;
        font-family: $font-family-pattern;
        font-weight:  $font-weight-text;
        font-size: $font-text-size;

        padding-left: 4px;
    }
}

.buttonForDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border-style: none;
    background-color: $primary-background-color-light;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color-light;
    color: $primary-color-light;

    p {
        color: $primary-color-light;
        font-family: $font-family-pattern;
        font-weight:  $font-weight-thred-title;
        font-size: $font-text-size;

        padding-left: 4px;
    }
}





.divImagelight {
    display: flex;
    align-items: center;
    justify-content: center;
}


.backgroundImagelight {
    position: absolute;
    display: flex;
    width: 363px;
    height: 363px;
    margin-left: -50px;
    border-radius: 100%;
    background-color: $color-elipse;
}

.image {
    position: absolute;
    z-index: 1;
    width: 415px;
    height: 517px;
    margin-top: 80px;
}

//--- DARK MODE --------------

.containerdark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 670px;
    margin: 0 auto;
    background-color: $primary-background-color-dark;
}

.divdark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $primary-background-color-dark;
}

.divTextdark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}

.titledark {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $second-color-dark;

    margin-top: 1px;
    margin-bottom: 1px;
}

.subtitledark {
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    font-size: $font-text-size;
    color: $second-color-dark;
    margin-top: 10px;
}

.divImagedark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundImagedark {
    position: absolute;
    display: flex;
    width: 363px;
    height: 363px;
    margin-left: -50px;
    border-radius: 100%;
    background-color: $color-elipse;

    z-index: 0;
}


