@import '../../sass/font.scss';
@import '../../sass/theme.scss';

.container-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.div-light {
    width: 1200px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $primary-background-color-light;
}

.div-text-light {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}

.title-light {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $second-color-light;

    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $primary-color-light;
    margin-top: 10px;
    margin-bottom: 1px;
}

.subtitle-light {
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    font-size: $font-text-size;
    color: $second-color-light;
    margin-top: 10px;
}

.div-button {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px  ;
    width: 75%;
}

.button-for-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border-style: none;
    background-color: $primary-color-light;
    color: $primary-background-color-light;

    p {
        color: $primary-background-color-light;
        font-family: $font-family-pattern;
        font-weight:  $font-weight-text;
        font-size: $font-text-size;
        padding-left: 4px;
    }
}

.button-for-download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border-style: none;
    background-color: $primary-background-color-light;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color-light;
    color: $primary-color-light;

    p {
        color: $primary-color-light;
        font-family: $font-family-pattern;
        font-weight:  $font-weight-thred-title;
        font-size: $font-text-size;
        padding-left: 4px;
    }
}

.div-image-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image-light {
    position: absolute;
    display: flex;
    width: 363px;
    height: 363px;
    margin-left: -50px;
    border-radius: 100%;
    background-color: $color-elipse;
}

.image {
    position: absolute;
    z-index: 1;
    width: 415px;
    height: 517px;
    margin-top: 80px;
}

//---DARK---
.container-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 670px;
    background-color: $primary-background-color-dark;
}

.div-dark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $primary-background-color-dark;
}

.div-text-dark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}

.title-dark {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $second-color-dark;

    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    font-family: $font-family-pattern;
    font-weight: $font-weight-primary-title;
    font-size: $font-primary-title-size;
    color: $primary-color-dark;
    margin-top: 10px;
    margin-bottom: 1px;
}

.subtitle-dark {
    font-family: $font-family-pattern;
    font-weight: $font-weight-text;
    font-size: $font-text-size;
    color: $second-color-dark;
    margin-top: 10px;
}

.div-image-dark {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image-dark {
    position: absolute;
    display: flex;
    width: 363px;
    height: 363px;
    margin-left: -50px;
    border-radius: 100%;
    background-color: $color-elipse;
}

@media (max-width: 1024px) {
    .div-light {
        width: 1024px;
    }
}

@media (max-width: 768px) {
    .div-light {
        width: 768px;
    }
    .div-text-light {
        padding-left: 80px;
    }
    .title-light {
        font-size: 30px;
    }
    h1 {
        font-size: 30px;
    }
    .subtitle-light {
        width: 300px;
    }
    .div-button {
        margin-top: 30px;
        gap:30px  ;
        width: 85%;
    }
    .background-image-light {
        width: 200px;
        height: 200px;
        margin-left: -50px;
        margin-top: 100px;
    }
    .image {
        justify-content: center;
        align-items: flex-end;

        img {
            width: 300px;
        }
    }
}

@media (max-width: 620px) {
    .div-light {
        width: 620px;
    }
    .background-image-light {
        display: none;
    }
    .subtitle-light {
        width: 220px;
    }
    .div-button {
        margin-top: 30px;
        flex-direction: column;
        gap:20px  ;
        width: 75%;
    }
    .image {
        justify-content: end;
        align-items: flex-end;

        img {
            margin-top: 100px;
            margin-left: 20px;
            z-index: 1;
            width: 280px;
        }
    }
}

@media (max-width: 300px) {
    .div-light {
        width: 300px;
    }
    .background-image-light {
        display: none;
    }
    .image {
        display: none;
    }
}